
<div class="container mb-4 mt-4" style="width: 700px">
    <div class="row">
        <div class="col col-sm-4">
            <img [src]="'../../assets/'+productModel.image+'.png'" style="width: 200px">
        </div>
        <div class="col">
            <div class="row" class="h3">{{productModel.name}}</div>
            <small class="text-muted">{{productModel.categoryName}}</small>
            <div class="row" class="h6 mt-4">{{productModel.description}}</div>
            <div class="row" class="h6 mt-4">{{productModel.price | currency:'IDR '}}</div>
            <button mat-raised-button  (click)="buyProduct(productModel.id)">Buy</button>
        </div>
    </div>


</div>
