
<mat-grid-list cols="4" >
  <mat-grid-tile *ngFor="let elemen of products" class="grid-tile">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{elemen.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content (click)="onProductClick(elemen.id)">
        <img mat-card-lg-image [src]="'../../assets/'+elemen.image+'.png'" >
        <p>{{elemen.price | currency:"IDR "}}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="buyProduct(elemen.id)" >Buy</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
